{% extends template.self %}

{% block body %}
    {% block top_menu_bar %}
    <!-- ##HW Add dronecode menu -->
    <div id="common_dronecode_menu">

      <div class="common_menu_logo large_version">
        <a href="{{ config.pluginsConfig['theme-dronecode'].logo.url }}">
          <img src="{{ config.pluginsConfig['theme-dronecode'].logo.logo_large | resolveAsset }}" alt="Dronecode logo (large)" />
        </a>
      </div>
      <div class="common_menu_logo small_version">
        <a href="{{ config.pluginsConfig['theme-dronecode'].logo.url }}">
          <img src="{{ config.pluginsConfig['theme-dronecode'].logo.logo_small | resolveAsset }}" alt="Dronecode logo (small)" />
        </a>
      </div>
      
      <div class="common_menu_options">   
          {% for menuitem in config.pluginsConfig['theme-dronecode'].menu %}
            {% if menuitem.text %}<div class="common_dronecode_menu_item large_version"><a href="{{ menuitem.url}}">{{ menuitem.text }}</a></div>{% endif %}
            {% if menuitem.text_small %}<div class="common_dronecode_menu_item small_version"><a href="{{ menuitem.url}}">{{ menuitem.text_small }}</a></div>{% endif %}
          {% endfor %}
      </div>
    </div>
    {% endblock %}
<!-- ##HW END Add dronecode menu -->
    {{ super() }}
    
{% endblock %}
